@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --shadow: #e6e6e6;
    --scrollbarBG: #5e5e5e;
    --thumbBG: #000000;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    box-shadow: 0 -100vh 0 100vh var(--shadow), 0 0 15px 5px black;
}

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;


}

.moblileHeader {
    display: none;
}

.desktopHeader {
    min-height: 15vh;
    background: #1b1b1b;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2% 4%;

        .leftLogo {
            a {
                text-decoration: none;
            }

            svg {
                font-size: 2rem;
                color: white;

            }
        }

        .navLinks {

            margin: 10px 0 0 100px;

            ul {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;

                li {
                    position: relative;
                    z-index: 1;
                    margin-right: 30px;
                    transition: all 0.3s ease;

                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 0.95rem;
                    }

                }

                .navHoverAnimation {
                    position: absolute;
                    height: 100%;
                    width: 8%;
                    top: 0;
                    left: -1.3%;
                    border-radius: 10px;
                    transition: all 0.6s ease;
                    border: none;
                    outline: none;
                    background: blue;
                    z-index: 0;
                }

                li:active {
                    transform: scale(1.1);
                }

                li:nth-child(1):hover~.navHoverAnimation {
                    left: -1.3%;
                }

                li:nth-child(2):hover~.navHoverAnimation {
                    left: 8%;
                    width: 12%;

                }

                li:nth-child(3):hover~.navHoverAnimation {
                    left: 22%;
                    width: 7%;
                }

                li:nth-child(4):hover~.navHoverAnimation {
                    left: 30.3%;
                }

                li:nth-child(5):hover~.navHoverAnimation {
                    left: 40%;
                    width: 17%;
                }

                li:nth-child(6):hover~.navHoverAnimation {
                    left: 58%;
                    width: 13%;
                }

                li:nth-child(7):hover~.navHoverAnimation {
                    left: 72%;
                    width: 10%;
                }

                li:nth-child(8):hover~.navHoverAnimation {
                    left: 84%;
                    width: 13%;
                }
            }
        }

        .rightIcons {
            display: flex;
            justify-content: space-between;
            width: 10%;

            .heartIcon {
                a {
                    text-decoration: none;
                    color: white;

                    svg {
                        font-size: 1.2rem;
                    }
                }
            }

            .profileIcon {
                a {
                    text-decoration: none;
                    color: white;

                    svg {
                        font-size: 1.2rem;
                    }
                }
            }

            .searchIcon {
                button {
                    background: rgba(0, 0, 0, 0.144);
                    border: none;
                    outline: none;

                    svg {
                        font-size: 1.2rem;
                        color: white;
                    }
                }
            }
        }
    }
}

////////////////////
.searchModal.openModal {
    opacity: 1;
    pointer-events: all;
}

.searchModal {
    position: fixed;
    z-index: 5;
    min-height: 120vh;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(0, 0, 0);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;

    .searchHeading {
        color: white;
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
        transform: translateY(200px);
    }

    .searchContainer {
        position: absolute;
        top: 40%;
        left: 30%;
        box-shadow: 6px 6px 16px #00000034,
            6px 6px 16px inset #00000034,
            -6px -6px 16px #70707034,
            -6px -6px 16px inset #77777734;

        input {
            background: transparent;
            color: white;
            border-radius: 8px;
            font-size: 1.2rem;
            font-weight: 500;
            padding: 2%;
            height: 50px;
            width: 30rem;
            border: none;
            outline: none;

            &:focus-within {
                border: none;

            }
        }

        button {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin: 0 10px 0 20px;
            border: none;
            outline: none;
            background: transparent;

            path {
                fill: white;
            }
        }

        button:hover {
            background: rgb(37, 36, 36);

        }

    }
}

///////////////////
main {
    min-height: 90vh;
    margin: 0 0 2px 0;
    text-align: center;
    background: #1b1b1b;

}

//////////////////////


footer {
    position: relative;
    background: #1b1b1b;
    min-height: 25vh;

    .yoUpBtn {
        cursor: pointer;
        position: absolute;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background: rgb(19, 17, 17);
        z-index: 3;
        right: 70px;
        top: -12%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: blue;
        font-size: 2rem;
        transition: all 0.5s ease;
        -webkit-box-shadow: 78px 96px 39px -72px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 78px 96px 39px -72px rgba(0, 0, 0, 0.75);
        box-shadow: 78px 96px 39px -72px rgba(0, 0, 0, 0.75);
    }

    .yoUpBtn:hover {
        transform: scale(1.1);
    }


    .footerContainer {
        text-align: center;
        padding: 1% 3% 1% 3%;

        .footLinks {
            padding: 2% 5% 0 5%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .mobileWrap {
                margin-bottom: 35px;
            }

            a {
                text-decoration: none;
                color: rgb(184, 184, 184);
                font-size: 0.9rem;

                span {
                    margin: 0 10px;
                }
            }
        }

        .footSocial {
            padding: 10px 0 0 0;

            a {
                color: rgb(231, 231, 231);
                margin-right: 10px;

                svg {
                    font-size: 1.9rem;
                }
            }

        }

        .footRights {
            padding: 20px 0 0 0;
            font-weight: 500;
            color: rgb(77, 77, 77);
        }
    }
}



@media screen and (max-height: 750px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 750px) {
    .desktopHeader {
        display: none;
    }

    .moblileHeader {
        display: block;
    }

    header {
        height: 20vh;
        padding: 3% 4%;
        background: #1b1b1b;
        color: white;

        .bckspaceLogUser {
            .logUser {
                text-align: right;
                font-size: 0.8rem;
            }

            .headImgContainer {
                text-align: center;

                svg {
                    height: 30px;
                }
            }
        }

        nav {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;


            .navBurger {
                position: relative;
                cursor: pointer;
                height: 30px;
                width: 30px;

                span:nth-child(1) {
                    user-select: none;
                    content: "";
                    position: absolute;
                    top: 0;
                    height: 3px;
                    width: 32px;
                    background: white;
                    border-radius: 8px;
                    transition: all 0.4s ease-in-out;
                }

                span:nth-child(2) {
                    content: "";
                    position: absolute;
                    top: 8px;
                    height: 3px;
                    width: 32px;
                    background: white;
                    border-radius: 8px;
                    transition: all 0.4s ease-in-out;
                }

                span:nth-child(3) {
                    content: "";
                    position: absolute;
                    top: 16px;
                    height: 3px;
                    width: 32px;
                    background: white;
                    border-radius: 8px;
                    transition: all 0.4s ease-in-out;
                }
            }

            .navBurger:hover,
            .navBurger:active {
                span:nth-child(1) {
                    background: #0202f3;
                }

                span:nth-child(2) {
                    width: 22px;
                }

            }

            .searchIcon {
                cursor: pointer;
                display: flex;
                align-items: center;
                transform: translateY(-15%);
                border-radius: 6px;

                input {
                    width: 0;
                    border: none;
                    background: transparent;
                    color: white;
                    transition: all 0.3s ease;
                    height: 100%;
                    padding: 2%;

                }

                input::placeholder {
                    outline: none;
                    border: none;
                }

                input:focus {
                    outline: none;
                    border: none;
                }

                button {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    border: none;
                    outline: none;
                    background: rgba(0, 0, 0, 0);

                    svg {
                        user-select: none;
                        margin-top: 2px;
                        font-size: 1.33rem;
                        cursor: pointer;
                        color: white;

                    }
                }

            }

            .searchIcon:hover input,
            .searchIcon:focus-within input {
                width: 250px;
                margin-left: 10px;
            }

            .searchIcon:hover,
            input:focus {
                box-shadow: 6px 6px 16px #00000034,
                    6px 6px 16px inset #00000034,
                    -6px -6px 16px #36363634,
                    -6px -6px 16px inset #3d3d3d34;

                svg {
                    color: #0202f3;
                }
            }
        }

        .sidenav {
            height: 100%;
            /* 100% Full-height */
            width: 0;
            /* 0 width - change this with JavaScript */
            position: fixed;
            /* Stay in place */
            z-index: 3;
            /* Stay on top */
            top: 0;
            /* Stay at the top */
            left: 0;
            background-color: #111;
            /* Black*/
            overflow-x: hidden;
            /* Disable horizontal scroll */
            padding-top: 60px;
            /* Place content 60px from the top */
            transition: 0.5s;
            /* 0.5 second transition effect to slide in the sidenav */
            scrollbar-width: none;

        }

        .sidenav::-webkit-scrollbar {
            display: none;
        }

        .sideNavContainer {
            padding: 0 8%;

            .userProfile {
                .userIcon {
                    font-size: 8rem;
                }

                .userName {
                    margin: 15px 0 0 30px;

                    p {
                        margin: 0;
                    }

                    .loggedIn {
                        font-size: 0.86rem;
                        margin-bottom: 10px;
                    }

                    .loggedName {

                        font-size: 1.2rem;
                        font-weight: 600;
                    }
                }
            }

            hr {
                background: rgb(56, 56, 56);
                border-radius: 8px;
                height: 1px;
            }
        }

        /* The navigation menu links */
        .sidenav a {
            padding: 4px 0 0 0;
            text-decoration: none;
            font-size: 1.2rem;
            color: #e9e9e9;
            display: block;
            transition: 0.3s;
        }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: blue;
        }

        /* Position and style the close button (top right corner) */
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

    }

    main {
        img {
            height: 100%;
            width: 100%;
        }
    }

    footer {
        .yoUpBtn {
            display: none;
        }
    }
}